*{
  margin: 0; 
  padding: 0; 
  font-family: Aerial;
}
.main{
  width: 100%;
}

.main img{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -999;
}

#myNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.contain {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

#myNav a {
  padding: 10px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#myNav a:hover, #myNav a:focus {
  color: #f1f1f1;
}

#myNav .close {
  position: absolute;
  right: 0;
  font-size: 30px;
  text-transform: uppercase;
}

.menu{
 font-size: 25px;
 cursor: pointer;
 text-transform: uppercase;
 color: #808080;
 width: 20%;
 float: left;
 padding: 5px;
 position: fixed;
}

.info{
 width: 100%;
 text-align: center;
}

.info h2, h5{
  width: 100%;
}

.info h2{
  color: #f1f1f1;
  font-size: 40px;
  padding-top: 120px;
}

.info h5{
  color: #f1f1f1;
  font-size: 25px;
  margin-bottom: 120px;
}

.about{
  width: 100%;
  background: #F5F5F5;
}

.about1{
  width: 80%;
  padding-top: 5%;
  padding-right: 10%;
  padding-bottom: 5%;
  padding-left: 10%;
}

.about1 p{
  padding-top: 10px;
  padding-left: 50px;
  font-size: 20px;
}

.about1 h2{
  padding-top: 10px;
  padding-left: 50px;
  text-decoration: underline;
}

.skills {
  width: 100%;
  padding-bottom: 10px;
}

.skills h2{
  width: 100%;
  text-align: center;
}

.content {
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.progress label {
  font-size: 18px;
  color: black;
  font-weight: bold;
  position: absolute;
  left: 5px;
  top: 5px;
}

.progress {
  position: relative;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background: #E0E0E0;
  margin: 35px 0;
}

.inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: #A0A0A0;
  border-radius: 10px;
}

.progress::before {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #A0A0A0;
  font-size: 15px;
  content: attr(data-text);
}

.edu{
  font-weight: bold;
}

.last{
  width: 100%;
  height: auto;
  background: #1E1D1D;
  color: white;
}

.last h3{
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

