* {
  margin: 0;
  padding: 0;
  font-family: Aerial;
}

.topnav{
	background: #e6e6e6;
  width: 100%;
	height: 100px;
}

.topnav1 img{
	float: left;
	padding-left: 50px;
	padding-top: 10px;
}

.topnav2{
	float: right;
	padding-right: 50px;
}

.topnav2 input[type=text] {
   float: right;
   border: 1px solid #ccc;
   width: 240px;
   height: 30px;
   margin-top: 30px;
   padding: 5px;
   font-size: 15px;
   border-radius: 10px;
}

.topnav2 p{
	float: right;
	color: grey;
	margin-top: 32px;
	margin-right: 5px;
}

.topnav2 h5{
	float: right;
	margin-top: 55px;
	margin-right: -128px;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  margin-bottom: 2px;
}

.navbar a{
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  padding: 13px;
  color: white;
  
}

.navbar a:hover {
  background-color: #000;
  cursor: pointer;
}

.active {
  background-color: #4CAF50;
}

.navbar1{
  margin-right: 40px;
}

.contain{
  width: 100%;
  text-align: justify;
  font-size: 25px;
  padding: 10px 0px 0px 60px;
}

.main{
  width: 80%;
  margin: 5%;
  padding: 5%;
  text-align: justify;
  border: dotted 1px black;
}

.main1{
  width: 100%;
  height: 40px;
  line-height: 39px;
  font-size: 15px;
  margin: 2px;
  padding: 5px;
  background: #F5F5F5;
  text-align: center;
  border: solid 1px #000;
}

.main1 a{
  color: #000;
  text-decoration: none;
}

.main1 a:hover{
  cursor: pointer;
  text-decoration: underline;
}

.abt{
  display: inline-block;
  width: 49%;
  height: 40px;
  text-transform: uppercase;
}

.abt a{
  text-decoration: none;
  float: left;
  font-size: 18px;
  color:  black;
  padding: 7px;
  margin: 5px;
}

.abt a:hover{
  cursor: pointer;
  color: #FF6347;
}

.abt1{
  display: inline-block;
  width: 50%;
  height: 40px;
  text-transform: uppercase;
}

.abt1 a{
  text-decoration: none;
  float: right;
  font-size: 18px;
  color:  black;
  padding: 7px;
  margin: 5px;
}

.abt1 a:hover{
  cursor: pointer;
  color:  #1E90FF
}

.test{
  width: 100%;
  color: white;
  background: #11499C;
}

.test h4{
  text-align: center;
  padding: 20px 0px;
  font-size: 30px;
}

.test p{
  text-align: center;
  font-size: 20px;
  padding-bottom: 10px;
}

.footer{
  width: 100%;
  background: #11499C;
  color: white;
  height: 90px;
  padding-top: 10px;
}

.footer1{
  float: left;
  background: #11499C;
  color: white;
  padding-left: 50px;
}

.footer1 h4{
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-left: 15px;
}

 .footer a{
  font-size: 18px;
  text-decoration: none;
  background: white;
  color: #11499C;
  width: 20px;
  height: 20px;
  padding-top: 4px;
  padding-left: 6px;
  border-radius: 10px;
}

.footer2 h3{
  float: right;
  padding-right: 12px;
}

.footer2 p{
  float: right;
  font-size: 18px;
  padding-right: 12px;
}